
.intro {color: blue;
font-size: 20px;}
.about {background-image: url("http://cdn.wallpapersafari.com/27/0/AHeiNr.jpg");
background-repeat: no-repeat;
height: 600px;
font-size: 100px;
color: white;}
.div {background-color: #CD5C5C;}